<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>imageName</key>
			<string>InteractiveLive_no_beauty</string>
			<key>selected</key>
			<false/>
			<key>subType</key>
			<integer>0</integer>
			<key>title</key>
			<string>none</string>
			<key>type</key>
			<integer>0</integer>
			<key>value</key>
			<real>0</real>
			<key>valueChanged</key>
			<false/>
		</dict>
		<dict>
			<key>imageName</key>
			<string>InteractiveLive_white</string>
			<key>selected</key>
			<true/>
			<key>subType</key>
			<integer>1</integer>
			<key>title</key>
			<string>whitening</string>
			<key>type</key>
			<integer>0</integer>
			<key>value</key>
			<real>0.5</real>
			<key>valueChanged</key>
			<true/>
		</dict>
		<dict>
			<key>imageName</key>
			<string>InteractiveLive_blur</string>
			<key>selected</key>
			<false/>
			<key>subType</key>
			<integer>2</integer>
			<key>title</key>
			<string>microdermabrasion</string>
			<key>type</key>
			<integer>0</integer>
			<key>value</key>
			<real>0.5</real>
			<key>valueChanged</key>
			<true/>
		</dict>
		<dict>
			<key>imageName</key>
			<string>InteractiveLive_small_face</string>
			<key>selected</key>
			<false/>
			<key>subType</key>
			<integer>3</integer>
			<key>title</key>
			<string>slim_face</string>
			<key>type</key>
			<integer>0</integer>
			<key>value</key>
			<real>0.5</real>
			<key>valueChanged</key>
			<true/>
		</dict>
		<dict>
			<key>imageName</key>
			<string>InteractiveLive_large_eye</string>
			<key>selected</key>
			<false/>
			<key>subType</key>
			<integer>4</integer>
			<key>title</key>
			<string>big_eyes</string>
			<key>type</key>
			<integer>0</integer>
			<key>value</key>
			<real>0.5</real>
			<key>valueChanged</key>
			<true/>
		</dict>
	</array>
	<array>
		<dict>
			<key>imageName</key>
			<string>InteractiveLive_no_beauty</string>
			<key>selected</key>
			<true/>
			<key>subType</key>
			<integer>0</integer>
			<key>title</key>
			<string>none</string>
			<key>type</key>
			<integer>1</integer>
			<key>value</key>
			<real>0</real>
			<key>valueChanged</key>
			<false/>
		</dict>
		<dict>
			<key>imageName</key>
			<string>InteractiveLive_landiao</string>
			<key>selected</key>
			<false/>
			<key>subType</key>
			<integer>1</integer>
			<key>title</key>
			<string>blues_film</string>
			<key>type</key>
			<integer>1</integer>
			<key>value</key>
			<real>0</real>
			<key>valueChanged</key>
			<false/>
		</dict>
		<dict>
			<key>imageName</key>
			<string>InteractiveLive_lengyang</string>
			<key>selected</key>
			<false/>
			<key>subType</key>
			<integer>2</integer>
			<key>title</key>
			<string>cold_oxygen</string>
			<key>type</key>
			<integer>1</integer>
			<key>value</key>
			<real>0</real>
			<key>valueChanged</key>
			<false/>
		</dict>
		<dict>
			<key>imageName</key>
			<string>InteractiveLive_lianai</string>
			<key>selected</key>
			<false/>
			<key>subType</key>
			<integer>3</integer>
			<key>title</key>
			<string>love_sweet</string>
			<key>type</key>
			<integer>1</integer>
			<key>value</key>
			<real>0</real>
			<key>valueChanged</key>
			<false/>
		</dict>
		<dict>
			<key>imageName</key>
			<string>InteractiveLive_yese</string>
			<key>selected</key>
			<false/>
			<key>subType</key>
			<integer>4</integer>
			<key>title</key>
			<string>night</string>
			<key>type</key>
			<integer>1</integer>
			<key>value</key>
			<real>0</real>
			<key>valueChanged</key>
			<false/>
		</dict>
	</array>
	<array>
		<dict>
			<key>imageName</key>
			<string>InteractiveLive_no_beauty</string>
			<key>selected</key>
			<true/>
			<key>subType</key>
			<integer>0</integer>
			<key>title</key>
			<string>none</string>
			<key>type</key>
			<integer>2</integer>
			<key>value</key>
			<real>0</real>
			<key>valueChanged</key>
			<false/>
		</dict>
		<dict>
			<key>imageName</key>
			<string>InteractiveLive_shenxiangaoguang</string>
			<key>selected</key>
			<false/>
			<key>subType</key>
			<integer>1</integer>
			<key>title</key>
			<string>fairy_highlight</string>
			<key>type</key>
			<integer>2</integer>
			<key>value</key>
			<real>0</real>
			<key>valueChanged</key>
			<false/>
		</dict>
		<dict>
			<key>imageName</key>
			<string>InteractiveLive_manhuanansheng</string>
			<key>selected</key>
			<false/>
			<key>subType</key>
			<integer>2</integer>
			<key>title</key>
			<string>cartoon_boy</string>
			<key>type</key>
			<integer>2</integer>
			<key>value</key>
			<real>0</real>
			<key>valueChanged</key>
			<false/>
		</dict>
		<dict>
			<key>imageName</key>
			<string>InteractiveLive_suixing</string>
			<key>selected</key>
			<false/>
			<key>subType</key>
			<integer>3</integer>
			<key>title</key>
			<string>shattered_star</string>
			<key>type</key>
			<integer>2</integer>
			<key>value</key>
			<real>0</real>
			<key>valueChanged</key>
			<false/>
		</dict>
		<dict>
			<key>imageName</key>
			<string>InteractiveLive_fugu</string>
			<key>selected</key>
			<false/>
			<key>subType</key>
			<integer>4</integer>
			<key>title</key>
			<string>retro_glasses</string>
			<key>type</key>
			<integer>2</integer>
			<key>value</key>
			<real>0</real>
			<key>valueChanged</key>
			<false/>
		</dict>
	</array>
</array>
</plist>
