<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.volcengine.vertcdemo.videocall">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application android:supportsRtl="true">

        <activity
            android:name=".contact.ContactsActivity"
            android:exported="true"
            android:icon="@drawable/scene_video_call"
            android:label="@string/video_calls"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="${applicationId}.category.SCENE" />
            </intent-filter>

            <meta-data
                android:name="scene_name_abbr"
                android:value="videoone" />
        </activity>

        <activity
            android:name=".PreviewActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".call.view.CallActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|keyboard|screenLayout|smallestScreenSize"
            android:screenOrientation="portrait"
            android:supportsPictureInPicture="true"
            tools:targetApi="n" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">

            <meta-data
                android:name="com.volcengine.vertcdemo.videocall.VideoCallRTSInitializer"
                android:value="androidx.startup" />

        </provider>

    </application>

</manifest>